$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);

$whiteTransparent: hsla(0, 0%, 100%, 0.8);

$mediumDarkBlue: hsl(215, 27%, 12%);

$fontBase: 15px;
$overpass: 'Overpass', sans-serif;

body{
    background-color: $veryDarkBlue;
    font-family: $overpass;
    position: relative;

    main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 360px;
        padding: 24px 26px 32px 26px;
        width: 87.2%;
        border-radius: 15px;
        background-image: radial-gradient(circle at top, $darkBlue, $mediumDarkBlue);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #star-container{
            height: 40px;
            width: 40px;
            background-color: $darkBlue;
            border-radius: 50%;
            
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                height: auto;
                width: 13px;
            }
        }
        
        h1{
            color: $white;
            font-size: 23.5px;
            transform: translateY(-2px);
        }
        
        p{
            color: $lightGrey;
            font-size: 13.9px;
            transform: translateY(-12px);
            line-height: 23px;
        }

        #rating{
            display: flex;
            justify-content: space-between;
            
            div{
                color: $mediumGrey;
                background-color: $darkBlue;
                height: 42px;
                width: 42px;
                border-radius: 50%;
                font-size: 14px;
                font-weight: 700;
                transform: translateY(-4px);

                display: flex;
                justify-content: center;
                align-items: center;

                &.active{
                    background-color: $orange;
                    color: $white;
                }

                span{
                    transform: translateY(1px);
                }
            }
        }

        input{
            background-color: $orange;
            color: $whiteTransparent;
            border: none;
            height: 46px;
            width: 100%;
            border-radius: 25px;
            font-family: $overpass;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 2px;
        }
    }

    // SEPARADOR

    #thank-you{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        img{
            width: 145px;
            height: auto;
            margin-top: 9px;
        }

        #selection{
            color: $orange;
            background-color: $darkBlue;
            padding: 5px 12px 3px 12px;
            font-size: 14px;
            border-radius: 25px;
        }

        p{
            text-align: center;
        }
    }
}